/* =======================================================
   RESET GENERAL
======================================================= */
html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* =======================================================
   BODY
======================================================= */
body {
    background-color: #02081a;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}
